<form action="/create" method="post">
    제목: <input type="string" name="title"/> <br>
    내용: <input type="text" name="content"/>
    <input type="submit"/>
</form>
<a href="/index">뒤로가기</a>
<%# <a href="/create">create가기</a> %>




